body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    text-align: center;
}

img, svg {
    display: block;
    margin: 0 auto;
}

.logo {
    width: 20rem;
    height: 20rem;
    /* background: gray; */
    background-image: url("../img/star.svg");
    margin: 0 auto;
}

.logo2 {
    background-image: url('../img/star-outlined-01.svg')
}

.code-svg rect,
.embed-svg rect {
    fill: crimson;
}

.abstract .star {
    transform: translate(70px, 90px) scale(0.3);
    fill: coral;
}
