body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    text-align: center;
}

img, svg {
    display: block;
    margin: 0 auto;
}

.logo {
    width: 20rem;
    height: 20rem;
    /* background: gray; */
    background-image: url("../img/star.svg");
    margin: 0 auto;
}

.logo2 {
    background-image: url('../img/star-outlined-01.svg')
}

.code-svg rect,
.embed-svg rect {
    fill: crimson;
}

.abstract .star {
    transform: translate(70px, 90px) scale(0.3);
    fill: coral;
}

.abstract polyline {
    z-index: 99;
}

.abstract text {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    fill: #551fd1;
}

.group-ex .star{
    transform-origin: center;
    transform: translate(-45px, -30px) scale(0.3);
    fill: goldenrod;
}

.group-ex .magic{
    transition: all 0.5s ease;
    transform-origin: 95px 45px;
}
.group-ex:hover circle{
    transform: rotate(2turn);
}

.group-ex:hover .magic {
    transform: rotate(2turn);
}

.dup-bubbles {
    transform-origin: center;
    transform: rotate(45deg)
}

.shape2 {
    transform: rotate(180deg);
    transform-origin: center;
}